
@{
    Layout = "../Shared/_LoginLayout.cshtml";
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Acceso de usuario </h2>
        <a href="/Login/Create" class="inactive underlineHover">Sign Up </a>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="usuario">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="contraseña">
            <input type="submit" class="fadeIn fourth" value="Entrar">
        </form>

    </div>
</div>