body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 20px;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

    header h1 {
        font-size: 2.5rem;
        font-weight: 300;
        color: var(--gray);
        margin-bottom: 1rem;
    }

input, button {
    border: none;
    outline: none;
    background: none;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.item-list {
    padding: 1rem;
    grid-column-start: 2;
}

    .item-list h2 {
        font-size: 2rem;
        font-weight: 300;
        color: var(--gray);
        margin-bottom: 1rem;
        background-image: inherit;
    }

#items {
    padding-top: 1rem; 
}

    #items .item {
        display: flex;
        justify-content: space-between;
        background-color: var(--darkest);
        padding: 1rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

        #items .item .content div {
            display: inline-block;
            margin-left: 1rem;
        }

        #items .item .content .text {
            color: var(--light);
            font-size: 1.5rem;
            width: 100%;
            display: block;
            transition: 0.4s;
        }


            #items .item .content .text :not(:read-only) {
                color: var(--pink);
            }

            #items .item .content div label {
                font-weight: 100;
                color: var(--gray) !important;
            }

    #items .item .actions {
        display: flex;
        margin: 0 -0.5rem;
    }

        .item .actions .edit {
            background-image: linear-gradient(to right, var(--pink), var(--purple));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .item .actions .delete {
            color: crimson;
        }

        .item .actions a {
            cursor: pointer;
            margin: 0.75rem 2rem;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
        }

#new-item-block {
    margin: auto;
    width: 50%;
    text-align: center;
}
    
    #new-item-block div {
        margin: 0 0 1.5rem 0;
    }
    
    #new-item-block a {
        background-color: var(--light);
        border-radius: 5px;
        min-width: 40%;
        max-width: 60%;
        height: 40px;
        background-image: linear-gradient(to right, var(--pink), var(--purple));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.4s;
    }

.category-list {
    padding: 1rem;
    border-radius: 1rem;
    grid-column-start: 1;
}

    .category-list #categories {
        padding-top: 1rem;
        background-color: var(--darkest);
        justify-content: space-between;
        min-height: 300px;
        border-radius: 2rem;
    }

    .category-list a {
        margin: 0 0 0 1rem;
    }

        .category-list #categories .category-item {
            padding: 1rem;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
        }

.grid-container {
    display: grid;
    width: 100vh;
    gap: 0px 20px;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}

.thematic-title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.thematic-title-sec {
    font-size: 2.5rem;
    font-weight: 500;
    margin:0 0 0 1rem;
    color: gray;
}

.back-link-margin {
    margin-top: 0.8rem;
}

.category-link {
    color: var(--light);
}

.item-image {
    width: 100px;
    display: inline-block;
}
