@{
    ViewBag.Title = "Index";
}

<style>
    .scrollable {
        min-height: 200px;
        max-height: 400px;
        overflow-y: auto;
    }
</style>

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>

<main>
    <div class="grid-container">
        <section class="category-list">
            <h2 style="text-align:center">Categorias</h2>
            <div id="categories">
                <div class="category-item">
                    <button>Lista 1</button>
                </div>
            </div>
        </section>
        <section class="item-list">
            <h2 style="text-align:center">Lista 1</h2>

            <div id="items" class="scrollable">

                <div class="item">
                    <div class="content">
                        <input type="text" class="text" value="My shiny item" readonly />
                        <label class="text" style="font-weight:100">Description</label>
                    </div>
                    <div class="actions">
                        <button class="edit">Editar</button>
                        <button class="delete">Borrar</button>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <input type="text" class="text" value="My shiny item 2" readonly />
                        <label class="text" style="font-weight:100">Description</label>
                    </div>
                    <div class="actions">
                        <button class="edit">Editar</button>
                        <button class="delete">Borrar</button>
                    </div>
                </div>

            </div>

            <div id="new-item-block">
                <button>Nuevo item</button>
            </div>
        </section>
    </div>
</main>